<html>
<head></head>
<body>

<h1> Este es un blog de prueba </h1>
<table>
    <tr>
      <td><%= link_to 'About', about_path %></td>
    </tr>
      <td><%= image_tag("jalter.png") %></td>
    </tr>
</table>
</body>
</html>
