<div class="center jumbotron">
  <h1>FATE GRAND ORDER</h1>
  <%= image_tag("fate-go-banner.jpg", :id=> "home-banner") %>
  <%= link_to 'Registrate Ahora', signup_path, class: "btn btn-primary btn-lg", :id => "register-btn"%>
</div>

